h1 {
    color: rgb(0, 112, 210);
    font-size: 25px;
}
p {
    font-family: 'Salesforce Sans', Arial, sans-serif;
    color: rgb(62, 62, 60);
}
.app {
    background-color: #fafaf9;
    height: 100vh;
    overflow: scroll;
}



.textoTable{
    text-align: center;
    font-style: bold;
    font-size: 12px;
}